.layout {
  font-family: monospace;
  white-space: pre-wrap;
}

.section {
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.stat-align-left {
  text-align: left;
}

.stat-align-center {
  text-align: center;
}