#root {
  text-align: center;
}

button {
  color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 900;
  background-color: #fff;
  cursor: pointer;
  font-family: sans-serif;

  display: inline-flex;
  align-items: center;

  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.button {
  font-size: 1em;
  height: 1em;
  justify-content: center;
}

.chances-on {
  color: #000;
}

.chances-off {
  color: #ddd;
}