#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  justify-self: end;

  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 900;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  font-family: sans-serif;

  display: inline-flex;
  align-items: center;
  /* Centers based on text height, ignoring descenders */

  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.button {
  font-size: 1em;
  width: 1.5em;
  justify-content: center;
}

.chances-on {
  color: #000;
}

.chances-off {
  color: #ddd;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.table-container {
  margin-top: 2rem;
  /* overflow-x: auto; */
}

table {
  border-collapse: collapse;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 0.5em;
}

.sortable {
  cursor: pointer;
}

.theader-pad {
  visibility: hidden;
}

.theader-title {
  width: 100%;
}

.theader-sort {
  opacity: 0.8;
}

.theader-sort-hidden {
  opacity: 0.1;
}

tr {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.row-color {
  background-color: light-dark(rgba(0, 0, 0, 0.02), #23272f);
}

.row-color-alt {
  background-color: light-dark(transparent, #181b20);
}

td {
  padding: 0.5em;
}

.highlight {
  background-color: rgb(204, 238, 255);
}

.cell-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 1.5em;
}

.td-name-logo {
  height: 2em;
  width: 3em;
  margin-right: 0.5em;
}