#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

button {
  color: black;
  justify-self: end;

  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 900;
  background-color: #fff;
  cursor: pointer;
  font-family: sans-serif;

  display: inline-flex;
  align-items: center;
  /* Centers based on text height, ignoring descenders */

  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.button {
  font-size: 1em;
  width: 1.5em;
  justify-content: center;
}

.chances-on {
  color: #000;
}

.chances-off {
  color: #ddd;
}
